// Specific CSS for your home-page
.content {
 /* if you have a 70px navbar => height: calc(100vh - 70px); */
  height: calc(100vh - 70px);
  margin-top: 90px;
}
.title {
  background: white;
  margin-bottom: 40px;
  h1 {
    font-weight: bold;
    font-size: 60px;
  }
}
.description {
  font-size: 26px;
  font-weight: lighter;
  text-align: justify;
}
@media(max-width: 720px) {
  .title h1 {
    font-size: 22px;
  }
  .description {
    font-size: 16px;
  }
}
