.keyTitle {
  margin: 0 auto;
  width: 40%;
  white-space: nowrap;
  h1 {
    font-weight: bold;
    font-size: 60px;
  }
}
.keyConcepts {
  display: flex;
  justify-content: space-around;
  h2 {
    font-size: 18px;
  }
}
