.prototypeContent {
  background:linear-gradient(140deg, $white, $white 55%, $background-gray 55%, $background-gray);
  padding-top: 10px;
}
#prototype:before {
  display: block;
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.prototypeTitle {
  text-align: center;
  white-space: nowrap;
  h1 {
    font-weight: bold;
    font-size: 48px;
  }
}
hr {
  width: 100%;
  height: 2px;
  background-color: $green;
  border: none;
}
.prototypeGrid {
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: 33% 1fr 1fr;
  padding-bottom: 50px;
  h2 {
  font-size: 25px;
  font-weight: 600;
  }
}
.mailer {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  justify-self: start;
  p {
    text-align: left;
    font-size: 18px;
  }
}
.mailChimp {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
#mc_embed_signup_scroll {
  width: 180%;
  font-size: 14px;
  font-family: Roboto;
  text-align: left;
}
input#mc-embedded-subscribe.button {
  padding: 0px 10px;
}
input#mc-embedded-subscribe.button, .betaButton {
  color: $white;
  border-radius: 6px;
  font-size: 22px;
  font-family: Roboto;
  text-align: center;
  background: $green;
  transition: background 0.3s ease;
}
input#mc-embedded-subscribe.button:hover, .betaButton:hover {
  opacity: 1;
  color: $green;
  background: $white;
  border: 2px solid $green;
}
.betaButton {
  padding: 5px 10px;
  p {
    padding-top: 10px;
  }
}
.beta {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  justify-self: flex-end;
  h2 {
    text-align: right;
  }
}
.betaTry {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  justify-self: flex-end;
  padding-top: 20px;
}
.prototypeArrow {
  margin: -170px auto 30px auto;
  display: table;
}
