#team:before {
  display: block;
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.teamTitle {
  text-align: center;
  white-space: nowrap;
  h1 {
    font-weight: bold;
    font-size: 54px;
  }
}
p {
  text-align: center;
}
.teamMembers {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  p {
    width: 240px;
    font-size: 14px;
  }
}
.roundedImage {
  border-radius: 50%;
  padding: 30px;
}
.teamArrow {
  margin: -15px auto 30px auto;
  width: 5%;
}
.CEO, .CTO, .IOT {
  h2,p {
  margin: 0;
  padding: 0;
  }
}
