.teamContent {
  background:linear-gradient(140deg, $white, $white 55%, $background-gray 55%, $background-gray);
  padding-top: 10px;
}
#team:before {
  display: block;
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
.teamTitle {
  text-align: center;
  white-space: nowrap;
  h1 {
    font-weight: bold;
    font-size: 48px;
  }
}
p {
  text-align: center;
}
.teamMembers {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  p {
    width: 240px;
    font-size: 14px;
  }
}
.roundedImage {
  border-radius: 50%;
  padding: 30px;
}
.boxBoard {
  display: table;
  margin: 0 auto;
  padding: 5px 15px;
  z-index: 2;
  color: $white;
  font-size: 22px;
  font-family: Roboto;
  text-align: center;
  border-radius: 6px;
  background: $green;
  transition: background 0.3s ease;
  p {
    padding-top: 10px;
  }
}
.boxBoard:hover {
  opacity: 1;
  color: $white;
  background: $over-green;
}
.teamArrow {
  display: table;
  margin: 50px auto 30px auto;
}
.CEO, .CTO, .IOT {
  h2,p {
  margin: 0;
  padding: 0;
  }
}
