<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-11 col-lg-offset-2 col-lg-12">
        <div class="title">
          <h1>The Future of eCommerce</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="description">
          <p>We offer an operating network based on blockchain technology. Transactions are documented in an open ledger system and monitored securely and transparently</p>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="callToAction">
        <p>Join the community</p>
        <div class="telegram">
          <%= link_to "Telegram", "#", class: "boxTelegram" %>
        </div>
        <div class="mailingList">
          <%= link_to "Mailing list", "#prototype", class: "boxMailingList" %>
        </div>
      </div>
      <div class="arrow">
        <a href="#key"><i class="fas fa-chevron-down"></i></a>
      </div>
      <div class="videoPlayer">
        <a href="#"><i class="fas fa-play"></i></a>
      </div>
      <div class="videoText">
        <p>WATCH INTRO VIDEO</p>
        <p class="minutes">10 MIN</p>
      </div>
    </div>
  </div>
</div>
