<div id="beta" class="container">
  <div class="betaTitle">
    <h1>Supply3</h1>
  </div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("beta1.png", :alt => "beta1") %>
      </div>

      <div class="item">
        <%= image_tag("beta2.png", :alt => "beta2") %>
      </div>

      <div class="item">
        <%= image_tag("beta3.png", :alt => "beta3") %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="betaArrow">
    <a href="#"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
