<div id="beta" class="container">
  <div class="betaTitle">
    <h1>Try the Beta</h1>
  </div>
  <div class="">
  </div>
  <div class="betaArrow">
    <a href="#"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
