<div id="evolution" class="container">
  <div class="evolutionTitle">
    <h1>Evolution</h1>
  </div>
  <div class="background">
    <%= image_tag("evolution.png", :alt => "evolution") %>
  </div>
  <div class="evolutionArrow">
    <a href="#"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
