<div class="keyContent">
  <div id="key" class="container">
    <div class="keyTitle">
      <h1>Key Concepts</h1>
    </div>
    <div class="keyConcepts">
      <div class="transparency">
        <div class="picto">
          <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
        </div>
        <h2>END-TO-END TRANSPARENCY</h2>
        <p>Cryptographic code and IoT tag that links to the origin of the product to the physical item. Seller and buyer can protect sensitive business information.</p>
      </div>
      <div class="privacy">
        <div class="picto">
          <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
        </div>
        <h2>DATA PRIVACY</h2>
        <p>Protect and monetize your data with our decentralized platform for storing and sharing identity management based on a self- sovereign architecture</p>
      </div>
      <div class="tracking">
        <div class="picto">
          <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
        </div>
        <h2>ACCURATE TRACKING</h2>
        <p>Add verifiable and accurate product tracking from supplier to customer and all supply steps in-between</p>
      </div>
      <div class="cost">
        <div class="picto">
          <%= image_tag("picto.png", :alt => "picto", :class => "roundedImage") %>
        </div>
        <h2>COST EFFICIENTY</h2>
        <p>Reduce drastically costs by eliminating the need for “handling companies” to be audited. </p>
      </div>
    </div>
    <div class="keyArrow">
      <a href="#platform"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</div>

