<div class="container">
  <div class="keyTitle">
    <h1 id="key">Key Concepts</h1>
  </div>
  <div class="keyConcepts">
    <div class="transparency">
      <h2>END-TO-END TRANSPARENCY</h2>
    </div>
    <div class="privacy">
      <h2>DATA PRIVACY</h2>
    </div>
    <div class="tracking">
      <h2>ACCURATE TRACKING</h2>
    </div>
    <div class="cost">
      <h2>COST EFFICIENTY</h2>
    </div>
  </div>
</div>

