<div id="platform" class="container">
  <div class="platformTitle">
    <h1>Platform</h1>
  </div>
  <div class="background">
    <%= image_tag("platform.png", :alt => "platform") %>
  </div>
  <div class="platformArrow">
    <a href="#evolution"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>
