<div id="prototype" class="container">
  <div class="prototypeTitle">
    <h1>Prototype</h1>
  </div>
  <div class="prototypeGrid">
    <div class="mailer">
      <h2>Could our platform benefit for your online Retail?</h2>
      <hr>
      <p>We are gathering partners that are committed to building together the next online business generation.</p>
      <div class="">
      </div>
    </div>
    <div class="touch">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="https://linkedin.us18.list-manage.com/subscribe/post?u=7096fd19f73b7ceb3b87f9744&amp;id=b03866dacd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Please enter your mail address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7096fd19f73b7ceb3b87f9744_b03866dacd" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Get in touch" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
    <div class="beta">
      <h2>The Supply3 plugging is a supply chain module with smart contracts. It will be used to allow sellers to interact with our solution.</h2>
    </div>
    <div class="betaTry">
      <%= link_to "Try the Beta", "#beta", class: "betaButton" %>
    </div>
  </div>
  <div class="prototypeArrow">
    <a href="#"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>

