<div id="prototype" class="container">
  <div class="prototypeTitle">
    <h1>Prototype</h1>
  </div>
  <div class="prototypeGrid">
    <div class="mailer">
      <h2>Could our platform benefit for your online Retail?</h2>
      <hr>
      <p>We are gathering partners that are committed to building together the next online business generation.</p>
      <div class="">
      </div>
    </div>
    <div class="touch">
      <h2>Get in touch</h2>
    </div>
    <div class="beta">
      <h2>The Supply3 plugging is a supply chain module with smart contracts. It will be used to allow sellers to interact with our solution.</h2>
    </div>
    <div class="betaTry">
      <%= link_to "Try the Beta", "#beta", class: "betaButton" %>
    </div>
  </div>
  <div class="prototypeArrow">
    <a href="#"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>

