<div id="prototype" class="container">
  <div class="prototypeTitle">
    <h1>Prototype</h1>
  </div>
  <div class="teamMembers">
    <div class="CEO">
    </div>
    <div class="CTO">
    </div>
    <div class="IOT">
    </div>
  </div>
  <div class="prototypeArrow">
    <a href="#"><i class="fas fa-chevron-down"></i></a>
  </div>
</div>

