<div class="roadmapContent">
  <div id="roadmap" class="container">
    <div class="roadmapTitle">
      <h1>Roadmap</h1>
      <p>The development of the Buye platform will be divided into multiple phases to achieve the overall goal of decentralized ecommerce platform.</p>
    </div>
    <div class="background">
      <%= image_tag("roadmap.png", :alt => "roadmap") %>
    </div>
    <div class="roadmapArrow">
      <a href="#"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</div>
