.footer {
  background: $green;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  padding: 0px 50px;
  p {
    font-size: 18px;
    font-weight: bold;
  }
}
.footer-links {
  display: inline-block;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: $white;
}
.footer .fa-heart {
  color: #D23333;
}
.footer-copyright {
  text-align: center;
}
.about, {
  margin-top: -100px;
}
.gitHub, .medium, .telegramLink, .twitter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}












