.footer {
  background: $green;
  color: $black;
  display: flex;
  justify-content: space-around;
  height: 240px;
  padding: 20px 50px;
  p {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }
}
.footer {
  a:link {
    opacity: 0.5;
    text-decoration: none;
  }
  a:link, a:visited {
    color: $black;
  }
  a:hover, a:active {
    opacity: 1;
    color: $white;
  }
}
.footer-copyright {
  text-align: center;
}
.gitHub, .medium, .telegramLink, .twitter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trademark {
  padding-top: 40px;
  p {
    font-weight: lighter;
    color: black;
    opacity: 0.5;
  }
}
